<!DOCTYPE html>
<html>
<head>
</head>
<body>
<form id = "contactform" action="mailer" method="post">
<div>
<input type="radio" id = "a1" name="abb" value="Mr." checked> Mr.
<input type="radio" id = "a2" name="abb" value="Mrs."> Mrs.
<input type="radio" id = "a3" name="abb" value="Ms."> Ms.
<input type="radio" id = "a4" name="abb" value="Dr."> Dr.
<br>
</div>
First Name: <input type="text" name="fname" autofocus required>
Last Name: <input type= "text" name="lname" required><br>
Street: <input type="text" name="address" required>
City: <input type= "text" name="city" required><br>
State: <input type= "text" name="loc" required>
Zip: <input type="text" name="ZipCode" required><br>
Phone: <input type="text" name="Phone" required><br>
Email: <input type="text" name="Email" required><br>
<div>
How may we contact you? <input type="checkbox" name="cmethod" value="phone"> Phone
<input type="checkbox" name="cmethod" value="mail"> Mail
<input type="checkbox" name="cmethod" value="e-mail"> E-mail
<input type="checkbox" name="cmethod" value="Any" checked> Any<br>
<input type="submit">
</div>
<a href="contacts">Contact Table</a>
</form>
</body>
<style type= "text/css">
#contactform {
  background-color: red;
  text-align: center;
}
body {
  background-color: red;
}
</style>
</html>
