<!doctype html>
<html>
	<head>
	</head>
	<body>
		<p>Contacts Removed!</p>
		<a href="contacts">Contact Table</a>
		<a href="contact">Start entering contacts</a>
		</body>
		<style type= "text/css">
		p {
			color: red;
		}
		body {
			background-color: black;
		}
		</style>
		</html>
